<h4><%= @restaurant.name %></h4>

<%= link_to new_restaurant_review_path(@restaurant), {class: "btn btn-primary"} do %>
  Add a review
<% end %>

<p><%= @restaurant.category%></p>

<p><% @reviews.each do |review|%>
  <p> avis : <%= review.content %></p>
  <p> note :<%=  review.rating %> / 5</p>
<% end %>



<%= link_to restaurants_path, {class: "btn btn-primary"} do %>
  Go back to restaurants
<% end %>
